

.container {
    text-align: center;
    color: #000000;
    background-color: aliceblue;
    padding: 50px;
}
.container h1 {
margin-bottom: 30px;
    font-size: xx-large;
}

.result {
    text-align: right;
    color: black;
    background: rgb(234, 207, 4);
    border: 1px solid;
    width: 300px;
    margin: 0 auto;
    padding: 20px 20px;
}

.buttons {
    color: aliceblue;
    width: 300px;
    margin: 0 auto;
    background: #1e1e1e;
    display: flex;
   flex-wrap:wrap;
   border: 1px solid black;
}

.items  {
    padding: 10px 20px;
    border: 1px solid rgb(181, 160, 3);
cursor: pointer;
width: 25%;
text-align: center;
}

.items:hover {
    background: rgb(181, 160, 3);
}

.items:last-child {
    border: 1px solid;
cursor: pointer;
width: 50%;
background: #45423a;
}

